body {
    background-color: #C2EFB3;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel Decorative", cursive;
}

.container, footer {
    display: flex;
    /*https://www.w3docs.com/snippets/css/how-to-vertically-align-text-next-to-an-image.html */
    align-items: center;
    background-color: #819098;
    border: solid #465223;
}



.text {
    font-size: 20px;
    color: #413C58;
}

#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

#address {
    display: block;
    margin-right: 20px;
    margin-left: auto;
}

footer {
    padding: 1rem;
    color: #413C58;
}

p {
    font-size: 16px;
}