body {
    background-color: #C2EFB3;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel Decorative", cursive;
}

.container,
footer {
    display: flex;
    /*https://www.w3docs.com/snippets/css/how-to-vertically-align-text-next-to-an-image.html */
    align-items: center;
    background-color: #C4CBCF;
    border: solid #465223;
}



.text {
    font-size: 20px;
    color: #413C58;
}

#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

#address {
    display: block;
    margin-right: 20px;
    margin-left: auto;
}

footer {
    padding: 1rem;
    color: #413C58;
}

p,
li {
    font-size: 16px;
    color: #413C58;
    line-height: 1.5rem;
}

#hobbies ul li {
    position: relative;
    width: max-content;
    border-bottom: #413C58 2px dotted;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 0.5s ease-in-out;
  
    position: absolute;
    z-index: 0;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}